In [11]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

test1 =  'This is a test of the emergency text system,'

f = open("test.txt","w")
f.write(test1)
f.close()

In [20]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
f = open("test.txt","r")
test2 = f.readline()
print(test2)
f.close()
if test1==test2:
    print("same")

This is a test of the emergency text system,
same

In [27]:
#3. Create a CSV file called books.csv by using these lines:

import csv 
rows = [ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open("books.csv","w",newline= '') as f:
    writer = csv.writer(f)
    writer.writerows(rows)
with open("books.csv","r") as f:
    for i in f.readlines():
        print(i)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [2]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3
db = sqlite3.connect("books.db")
c = db.cursor()
c.execute("drop table if exists books")
c.execute("create table books(title text,author text,year integer )")

In [9]:
#5. Read books.csv and insert its data into the book table.
import pandas as pd
read_books = pd.read_csv("books.csv",encoding='unicode_escape')
read_books.to_sql("books",db,if_exists="append",index = False)

In [11]:
#6. Select and print the title column from the book table in alphabetical order.

c.execute("select title from books order by title asc ")
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

In [18]:
#7. From the book table, select and print all columns in the order of publication.

c.execute("select title,author,year from books order by year asc")
#c.fetchall()
df = pd.DataFrame(c.fetchall(),columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [19]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [ ]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

!pip install redis
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.

conn.hincrby('test','count', 3)