In [13]:
paragraph = "This is the NLP session that is going on and finally we are happy. Is everuone is happy. Ineuron is a company where we teach all the tech "

In [13]:
import nltk

In [6]:
 nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
nltk.sent_tokenize(paragraph)

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\DELL/nltk_data'
    - 'C:\\ProgramData\\Anaconda3\\nltk_data'
    - 'C:\\ProgramData\\Anaconda3\\share\\nltk_data'
    - 'C:\\ProgramData\\Anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\DELL\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - ''
**********************************************************************

In [9]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [10]:
nltk.sent_tokenize(paragraph)

['This is the NLP sessinltkon that is going on and finally we are happy']

In [12]:
nltk.sent_tokenize(paragraph)

['This is the NLP session that is going on and finally we are happy.',
 'Is everuone is happy']

In [14]:
nltk.sent_tokenize(paragraph)

['This is the NLP session that is going on and finally we are happy.',
 'Is everuone is happy.',
 'Ineuron is a company where we teach all the tech']

In [33]:
sentences = nltk.sent_tokenize(paragraph)

In [15]:
#Tokenization
nltk.word_tokenize(paragraph)

['This',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everuone',
 'is',
 'happy',
 '.',
 'Ineuron',
 'is',
 'a',
 'company',
 'where',
 'we',
 'teach',
 'all',
 'the',
 'tech']

In [16]:
from nltk.stem import PorterStemmer

In [17]:
stemmer = PorterStemmer()

In [18]:
stemmer.stem("going")

'go'

In [19]:
stemmer.stem("finally")

'final'

In [20]:
stemmer.stem("history")

'histori'

In [21]:
stemmer.stem("oragnization")

'oragn'

In [22]:
stemmer.stem("happy")

'happi'

In [18]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [19]:
lemmatizer = WordNetLemmatizer()

In [28]:
lemmatizer.lemmatize("history")

'history'

In [29]:
lemmatizer.lemmatize("eating")

'eating'

In [30]:
lemmatizer.lemmatize("historical")

'historical'

In [31]:
lemmatizer.lemmatize("happiness")

'happiness'

In [32]:
lemmatizer.lemmatize("going")

'going'

In [34]:
sentences

['This is the NLP session that is going on and finally we are happy.',
 'Is everuone is happy.',
 'Ineuron is a company where we teach all the tech']

In [37]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['thi', 'is', 'the', 'nlp', 'session', 'that', 'is', 'go', 'on', 'and', 'final', 'we', 'are', 'happi', '.']
['is', 'everuon', 'is', 'happi', '.']
['ineuron', 'is', 'a', 'compani', 'where', 'we', 'teach', 'all', 'the', 'tech']

In [38]:
corpus

['thi is the nlp session that is go on and final we are happi .',
 'is everuon is happi .',
 'ineuron is a compani where we teach all the tech']

In [39]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['This', 'is', 'the', 'NLP', 'session', 'that', 'is', 'going', 'on', 'and', 'finally', 'we', 'are', 'happy', '.']
['Is', 'everuone', 'is', 'happy', '.']
['Ineuron', 'is', 'a', 'company', 'where', 'we', 'teach', 'all', 'the', 'tech']

In [10]:
paragraph = """
Ratan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[5]

Born in 1937, he is a heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.

"""

In [11]:
paragraph

"\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[5]\n\nBorn in 1937, he is a heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.\n\n"

In [14]:
sentences = nltk.sent_tokenize(paragraph)

In [43]:
sentences

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.',
 '[5]\n\nBorn in 1937, he is a heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [44]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['Ratan', 'Naval', 'Tata', '(', 'Ratan', 'Ṭāṭā', ',', 'born', '28', 'December', '1937', ')', 'is', 'an', 'Indian', 'industrialist', ',', 'philanthropist', ',', 'and', 'a', 'former', 'chairman', 'of', 'Tata', 'Sons', '.']
['He', 'wa', 'the', 'chairman', 'of', 'Tata', 'Group', ',', 'from', '1990', 'to', '2012', ',', 'and', 'again', ',', 'a', 'interim', 'chairman', ',', 'from', 'October', '2016', 'through', 'February', '2017', ',', 'and', 'continues', 'to', 'head', 'it', 'charitable', 'trust', '.']
['[', '3', ']', '[', '4', ']', 'He', 'is', 'the', 'recipient', 'of', 'two', 'civilian', 'award', 'of', 'India', ',', 'the', 'Padma', 'Vibhushan', '(', '2008', ')', ',', 'the', 'second', 'highest', 'civilian', 'honour', ',', 'and', 'the', 'Padma', 'Bhushan', '(', '2000', ')', ',', 'the', 'third', 'highest', 'civilian', 'honour', '.']
['[', '5', ']', 'Born', 'in', '1937', ',', 'he', 'is', 'a', 'heir', 'of', 'the', 'Tata', 'family', ',', 'and', 'son', 'of', 'Naval', 'Tata', 'who', 'wa', 'later', 'adopted', 'by', 'Ratanji', 'Tata', ',', 'son', 'of', 'Jamsetji', 'Tata', ',', 'the', 'founder', 'of', 'Tata', 'Group', '.']
['He', 'is', 'an', 'alumnus', 'of', 'the', 'Cornell', 'University', 'College', 'of', 'Architecture', 'and', 'Harvard', 'Business', 'School', 'through', 'the', 'Advanced', 'Management', 'Program', 'that', 'he', 'completed', 'in', '1975', '.']
['[', '6', ']', 'He', 'joined', 'his', 'company', 'in', '1961', 'when', 'he', 'used', 'to', 'work', 'on', 'the', 'shop', 'floor', 'of', 'Tata', 'Steel', ',', 'and', 'wa', 'the', 'apparent', 'successor', 'to', 'J.', 'R.', 'D.', 'Tata', 'upon', 'the', 'latter', "'s", 'retirement', 'in', '1991', '.']
['He', 'got', 'Tata', 'Tea', 'to', 'acquire', 'Tetley', ',', 'Tata', 'Motors', 'to', 'acquire', 'Jaguar', 'Land', 'Rover', ',', 'and', 'Tata', 'Steel', 'to', 'acquire', 'Corus', ',', 'in', 'an', 'attempt', 'to', 'turn', 'Tata', 'from', 'a', 'largely', 'India-centrist', 'group', 'into', 'a', 'global', 'business', '.']
['Around', '60-65', '%', 'of', 'his', 'profit', 'are', 'donated', 'to', 'charity', 'making', 'him', 'one', 'of', 'the', 'most', 'significant', 'philanthropist', 'in', 'the', 'world', '.']

In [45]:
corpus

['Ratan Naval Tata ( Ratan Ṭāṭā , born 28 December 1937 ) is an Indian industrialist , philanthropist , and a former chairman of Tata Sons .',
 'He wa the chairman of Tata Group , from 1990 to 2012 , and again , a interim chairman , from October 2016 through February 2017 , and continues to head it charitable trust .',
 '[ 3 ] [ 4 ] He is the recipient of two civilian award of India , the Padma Vibhushan ( 2008 ) , the second highest civilian honour , and the Padma Bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 5 ] Born in 1937 , he is a heir of the Tata family , and son of Naval Tata who wa later adopted by Ratanji Tata , son of Jamsetji Tata , the founder of Tata Group .',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975 .',
 "[ 6 ] He joined his company in 1961 when he used to work on the shop floor of Tata Steel , and wa the apparent successor to J. R. D. Tata upon the latter 's retirement in 1991 .",
 'He got Tata Tea to acquire Tetley , Tata Motors to acquire Jaguar Land Rover , and Tata Steel to acquire Corus , in an attempt to turn Tata from a largely India-centrist group into a global business .',
 'Around 60-65 % of his profit are donated to charity making him one of the most significant philanthropist in the world .']

In [46]:
lemmatizer.lemmatize("was")

'wa'

In [47]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'ratan', 'ṭāṭā', ',', 'born', '28', 'decemb', '1937', ')', 'is', 'an', 'indian', 'industrialist', ',', 'philanthropist', ',', 'and', 'a', 'former', 'chairman', 'of', 'tata', 'son', '.']
['he', 'wa', 'the', 'chairman', 'of', 'tata', 'group', ',', 'from', '1990', 'to', '2012', ',', 'and', 'again', ',', 'as', 'interim', 'chairman', ',', 'from', 'octob', '2016', 'through', 'februari', '2017', ',', 'and', 'continu', 'to', 'head', 'it', 'charit', 'trust', '.']
['[', '3', ']', '[', '4', ']', 'he', 'is', 'the', 'recipi', 'of', 'two', 'civilian', 'award', 'of', 'india', ',', 'the', 'padma', 'vibhushan', '(', '2008', ')', ',', 'the', 'second', 'highest', 'civilian', 'honour', ',', 'and', 'the', 'padma', 'bhushan', '(', '2000', ')', ',', 'the', 'third', 'highest', 'civilian', 'honour', '.']
['[', '5', ']', 'born', 'in', '1937', ',', 'he', 'is', 'a', 'heir', 'of', 'the', 'tata', 'famili', ',', 'and', 'son', 'of', 'naval', 'tata', 'who', 'wa', 'later', 'adopt', 'by', 'ratanji', 'tata', ',', 'son', 'of', 'jamsetji', 'tata', ',', 'the', 'founder', 'of', 'tata', 'group', '.']
['he', 'is', 'an', 'alumnu', 'of', 'the', 'cornel', 'univers', 'colleg', 'of', 'architectur', 'and', 'harvard', 'busi', 'school', 'through', 'the', 'advanc', 'manag', 'program', 'that', 'he', 'complet', 'in', '1975', '.']
['[', '6', ']', 'he', 'join', 'hi', 'compani', 'in', '1961', 'when', 'he', 'use', 'to', 'work', 'on', 'the', 'shop', 'floor', 'of', 'tata', 'steel', ',', 'and', 'wa', 'the', 'appar', 'successor', 'to', 'j.', 'r.', 'd.', 'tata', 'upon', 'the', 'latter', "'s", 'retir', 'in', '1991', '.']
['he', 'got', 'tata', 'tea', 'to', 'acquir', 'tetley', ',', 'tata', 'motor', 'to', 'acquir', 'jaguar', 'land', 'rover', ',', 'and', 'tata', 'steel', 'to', 'acquir', 'coru', ',', 'in', 'an', 'attempt', 'to', 'turn', 'tata', 'from', 'a', 'larg', 'india-centrist', 'group', 'into', 'a', 'global', 'busi', '.']
['around', '60-65', '%', 'of', 'hi', 'profit', 'are', 'donat', 'to', 'chariti', 'make', 'him', 'one', 'of', 'the', 'most', 'signific', 'philanthropist', 'in', 'the', 'world', '.']

In [48]:
corpus

['ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) is an indian industrialist , philanthropist , and a former chairman of tata son .',
 'he wa the chairman of tata group , from 1990 to 2012 , and again , as interim chairman , from octob 2016 through februari 2017 , and continu to head it charit trust .',
 '[ 3 ] [ 4 ] he is the recipi of two civilian award of india , the padma vibhushan ( 2008 ) , the second highest civilian honour , and the padma bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 5 ] born in 1937 , he is a heir of the tata famili , and son of naval tata who wa later adopt by ratanji tata , son of jamsetji tata , the founder of tata group .',
 'he is an alumnu of the cornel univers colleg of architectur and harvard busi school through the advanc manag program that he complet in 1975 .',
 "[ 6 ] he join hi compani in 1961 when he use to work on the shop floor of tata steel , and wa the appar successor to j. r. d. tata upon the latter 's retir in 1991 .",
 'he got tata tea to acquir tetley , tata motor to acquir jaguar land rover , and tata steel to acquir coru , in an attempt to turn tata from a larg india-centrist group into a global busi .',
 'around 60-65 % of hi profit are donat to chariti make him one of the most signific philanthropist in the world .']

In [49]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [21]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [22]:
stop_words = stopwords.words('english')

In [55]:
for i in ["changes", "change", "changing", "changer","changeable"]:
    print(lemmatizer.lemmatize(i))

change
change
changing
changer
changeable

In [56]:
corpus

['ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) is an indian industrialist , philanthropist , and a former chairman of tata son .',
 'he wa the chairman of tata group , from 1990 to 2012 , and again , as interim chairman , from octob 2016 through februari 2017 , and continu to head it charit trust .',
 '[ 3 ] [ 4 ] he is the recipi of two civilian award of india , the padma vibhushan ( 2008 ) , the second highest civilian honour , and the padma bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 5 ] born in 1937 , he is a heir of the tata famili , and son of naval tata who wa later adopt by ratanji tata , son of jamsetji tata , the founder of tata group .',
 'he is an alumnu of the cornel univers colleg of architectur and harvard busi school through the advanc manag program that he complet in 1975 .',
 "[ 6 ] he join hi compani in 1961 when he use to work on the shop floor of tata steel , and wa the appar successor to j. r. d. tata upon the latter 's retir in 1991 .",
 'he got tata tea to acquir tetley , tata motor to acquir jaguar land rover , and tata steel to acquir coru , in an attempt to turn tata from a larg india-centrist group into a global busi .',
 'around 60-65 % of hi profit are donat to chariti make him one of the most signific philanthropist in the world .']

In [59]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i].lower())
    words = [stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', '(', 'ratan', 'ṭāṭā', ',', 'born', '28', 'decemb', '1937', ')', 'indian', 'industrialist', ',', 'philanthropist', ',', 'former', 'chairman', 'tata', 'son', '.']
['chairman', 'tata', 'group', ',', '1990', '2012', ',', ',', 'interim', 'chairman', ',', 'octob', '2016', 'februari', '2017', ',', 'continu', 'head', 'charit', 'trust', '.']
['[', '3', ']', '[', '4', ']', 'recipi', 'two', 'civilian', 'award', 'india', ',', 'padma', 'vibhushan', '(', '2008', ')', ',', 'second', 'highest', 'civilian', 'honour', ',', 'padma', 'bhushan', '(', '2000', ')', ',', 'third', 'highest', 'civilian', 'honour', '.']
['[', '5', ']', 'born', '1937', ',', 'heir', 'tata', 'famili', ',', 'son', 'naval', 'tata', 'later', 'adopt', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['alumnu', 'cornel', 'univers', 'colleg', 'architectur', 'harvard', 'busi', 'school', 'advanc', 'manag', 'program', 'complet', '1975', '.']
['[', '6', ']', 'join', 'compani', '1961', 'use', 'work', 'shop', 'floor', 'tata', 'steel', ',', 'appar', 'successor', 'j.', 'r.', 'd.', 'tata', 'upon', 'latter', "'s", 'retir', '1991', '.']
['got', 'tata', 'tea', 'acquir', 'tetley', ',', 'tata', 'motor', 'acquir', 'jaguar', 'land', 'rover', ',', 'tata', 'steel', 'acquir', 'coru', ',', 'attempt', 'turn', 'tata', 'larg', 'india-centrist', 'group', 'global', 'busi', '.']
['around', '60-65', '%', 'profit', 'donat', 'chariti', 'make', 'one', 'signific', 'philanthropist', 'world', '.']

In [60]:
corpus

['ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) indian industrialist , philanthropist , former chairman tata son .',
 'chairman tata group , 1990 2012 , , interim chairman , octob 2016 februari 2017 , continu head charit trust .',
 '[ 3 ] [ 4 ] recipi two civilian award india , padma vibhushan ( 2008 ) , second highest civilian honour , padma bhushan ( 2000 ) , third highest civilian honour .',
 '[ 5 ] born 1937 , heir tata famili , son naval tata later adopt ratanji tata , son jamsetji tata , founder tata group .',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975 .',
 "[ 6 ] join compani 1961 use work shop floor tata steel , appar successor j. r. d. tata upon latter 's retir 1991 .",
 'got tata tea acquir tetley , tata motor acquir jaguar land rover , tata steel acquir coru , attempt turn tata larg india-centrist group global busi .',
 'around 60-65 % profit donat chariti make one signific philanthropist world .']

In [61]:
paragraph = """
Droupadi Murmu (née Tudu, born 20 June 1958) is an Indian politician serving as the 15th and current President of India since 25 July 2022. She is a member of the Bharatiya Janata Party (BJP).[1] She is the first person belonging to the, Tribal community to be elected as the President of India.[2] Murmu is only the second woman after Pratibha Patil to serve as the President of India. She is the first person from Odisha to hold this post and country's youngest president and the first to be born after India's independence.[3] Prior to her presidency she served as the ninth Governor of Jharkhand between 2015 and 2021, and held various portfolios in the cabinet of Government of Odisha between 2000 to 2004.[4]

In June 2022, the BJP nominated Murmu as the National Democratic Alliance (NDA)'s presidential candidate for the 2022 election.[5] Before entering politics, she worked as a junior assistant in the State Irrigation and Power Department from 1979 to 1983, and then as a teacher at Sri Aurobindo Integral Education Centre at Rairangpur until 1997


"""

In [62]:
sentences = nltk.sent_tokenize(paragraph)

In [63]:
sentences

['\nDroupadi Murmu (née Tudu, born 20 June 1958) is an Indian politician serving as the 15th and current President of India since 25 July 2022.',
 'She is a member of the Bharatiya Janata Party (BJP).',
 '[1] She is the first person belonging to the, Tribal community to be elected as the President of India.',
 '[2] Murmu is only the second woman after Pratibha Patil to serve as the President of India.',
 "She is the first person from Odisha to hold this post and country's youngest president and the first to be born after India's independence.",
 '[3] Prior to her presidency she served as the ninth Governor of Jharkhand between 2015 and 2021, and held various portfolios in the cabinet of Government of Odisha between 2000 to 2004.',
 "[4]\n\nIn June 2022, the BJP nominated Murmu as the National Democratic Alliance (NDA)'s presidential candidate for the 2022 election.",
 '[5] Before entering politics, she worked as a junior assistant in the State Irrigation and Power Department from 1979 to 1983, and then as a teacher at Sri Aurobindo Integral Education Centre at Rairangpur until 1997']

In [64]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['Droupadi', 'Murmu', '(', 'née', 'Tudu', ',', 'born', '20', 'June', '1958', ')', 'is', 'an', 'Indian', 'politician', 'serving', 'a', 'the', '15th', 'and', 'current', 'President', 'of', 'India', 'since', '25', 'July', '2022', '.']
['She', 'is', 'a', 'member', 'of', 'the', 'Bharatiya', 'Janata', 'Party', '(', 'BJP', ')', '.']
['[', '1', ']', 'She', 'is', 'the', 'first', 'person', 'belonging', 'to', 'the', ',', 'Tribal', 'community', 'to', 'be', 'elected', 'a', 'the', 'President', 'of', 'India', '.']
['[', '2', ']', 'Murmu', 'is', 'only', 'the', 'second', 'woman', 'after', 'Pratibha', 'Patil', 'to', 'serve', 'a', 'the', 'President', 'of', 'India', '.']
['She', 'is', 'the', 'first', 'person', 'from', 'Odisha', 'to', 'hold', 'this', 'post', 'and', 'country', "'s", 'youngest', 'president', 'and', 'the', 'first', 'to', 'be', 'born', 'after', 'India', "'s", 'independence', '.']
['[', '3', ']', 'Prior', 'to', 'her', 'presidency', 'she', 'served', 'a', 'the', 'ninth', 'Governor', 'of', 'Jharkhand', 'between', '2015', 'and', '2021', ',', 'and', 'held', 'various', 'portfolio', 'in', 'the', 'cabinet', 'of', 'Government', 'of', 'Odisha', 'between', '2000', 'to', '2004', '.']
['[', '4', ']', 'In', 'June', '2022', ',', 'the', 'BJP', 'nominated', 'Murmu', 'a', 'the', 'National', 'Democratic', 'Alliance', '(', 'NDA', ')', "'s", 'presidential', 'candidate', 'for', 'the', '2022', 'election', '.']
['[', '5', ']', 'Before', 'entering', 'politics', ',', 'she', 'worked', 'a', 'a', 'junior', 'assistant', 'in', 'the', 'State', 'Irrigation', 'and', 'Power', 'Department', 'from', '1979', 'to', '1983', ',', 'and', 'then', 'a', 'a', 'teacher', 'at', 'Sri', 'Aurobindo', 'Integral', 'Education', 'Centre', 'at', 'Rairangpur', 'until', '1997']

In [65]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['droupadi', 'murmu', '(', 'née', 'tudu', ',', 'born', '20', 'june', '1958', ')', 'is', 'an', 'indian', 'politician', 'serv', 'as', 'the', '15th', 'and', 'current', 'presid', 'of', 'india', 'sinc', '25', 'juli', '2022', '.']
['she', 'is', 'a', 'member', 'of', 'the', 'bharatiya', 'janata', 'parti', '(', 'bjp', ')', '.']
['[', '1', ']', 'she', 'is', 'the', 'first', 'person', 'belong', 'to', 'the', ',', 'tribal', 'commun', 'to', 'be', 'elect', 'as', 'the', 'presid', 'of', 'india', '.']
['[', '2', ']', 'murmu', 'is', 'onli', 'the', 'second', 'woman', 'after', 'pratibha', 'patil', 'to', 'serv', 'as', 'the', 'presid', 'of', 'india', '.']
['she', 'is', 'the', 'first', 'person', 'from', 'odisha', 'to', 'hold', 'thi', 'post', 'and', 'countri', "'s", 'youngest', 'presid', 'and', 'the', 'first', 'to', 'be', 'born', 'after', 'india', "'s", 'independ', '.']
['[', '3', ']', 'prior', 'to', 'her', 'presid', 'she', 'serv', 'as', 'the', 'ninth', 'governor', 'of', 'jharkhand', 'between', '2015', 'and', '2021', ',', 'and', 'held', 'variou', 'portfolio', 'in', 'the', 'cabinet', 'of', 'govern', 'of', 'odisha', 'between', '2000', 'to', '2004', '.']
['[', '4', ']', 'in', 'june', '2022', ',', 'the', 'bjp', 'nomin', 'murmu', 'as', 'the', 'nation', 'democrat', 'allianc', '(', 'nda', ')', "'s", 'presidenti', 'candid', 'for', 'the', '2022', 'elect', '.']
['[', '5', ']', 'befor', 'enter', 'polit', ',', 'she', 'work', 'as', 'a', 'junior', 'assist', 'in', 'the', 'state', 'irrig', 'and', 'power', 'depart', 'from', '1979', 'to', '1983', ',', 'and', 'then', 'as', 'a', 'teacher', 'at', 'sri', 'aurobindo', 'integr', 'educ', 'centr', 'at', 'rairangpur', 'until', '1997']

In [66]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i].lower())
    words = [lemmatizer.lemmatize(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['droupadi', 'murmu', '(', 'née', 'tudu', ',', 'born', '20', 'june', '1958', ')', 'indian', 'politician', 'serving', '15th', 'current', 'president', 'india', 'since', '25', 'july', '2022', '.']
['member', 'bharatiya', 'janata', 'party', '(', 'bjp', ')', '.']
['[', '1', ']', 'first', 'person', 'belonging', ',', 'tribal', 'community', 'elected', 'president', 'india', '.']
['[', '2', ']', 'murmu', 'second', 'woman', 'pratibha', 'patil', 'serve', 'president', 'india', '.']
['first', 'person', 'odisha', 'hold', 'post', 'country', "'s", 'youngest', 'president', 'first', 'born', 'india', "'s", 'independence', '.']
['[', '3', ']', 'prior', 'presidency', 'served', 'ninth', 'governor', 'jharkhand', '2015', '2021', ',', 'held', 'various', 'portfolio', 'cabinet', 'government', 'odisha', '2000', '2004', '.']
['[', '4', ']', 'june', '2022', ',', 'bjp', 'nominated', 'murmu', 'national', 'democratic', 'alliance', '(', 'nda', ')', "'s", 'presidential', 'candidate', '2022', 'election', '.']
['[', '5', ']', 'entering', 'politics', ',', 'worked', 'junior', 'assistant', 'state', 'irrigation', 'power', 'department', '1979', '1983', ',', 'teacher', 'sri', 'aurobindo', 'integral', 'education', 'centre', 'rairangpur', '1997']

In [67]:
corpus

['droupadi murmu ( née tudu , born 20 june 1958 ) indian politician serving 15th current president india since 25 july 2022 .',
 'member bharatiya janata party ( bjp ) .',
 '[ 1 ] first person belonging , tribal community elected president india .',
 '[ 2 ] murmu second woman pratibha patil serve president india .',
 "first person odisha hold post country 's youngest president first born india 's independence .",
 '[ 3 ] prior presidency served ninth governor jharkhand 2015 2021 , held various portfolio cabinet government odisha 2000 2004 .',
 "[ 4 ] june 2022 , bjp nominated murmu national democratic alliance ( nda ) 's presidential candidate 2022 election .",
 '[ 5 ] entering politics , worked junior assistant state irrigation power department 1979 1983 , teacher sri aurobindo integral education centre rairangpur 1997']

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
sentences

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.',
 '[5]\n\nBorn in 1937, he is a heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [23]:
import re
corpus = []
for i in range(len(sentences)):
    text = re.sub('[^a-zA-Z0-9]',' ',sentences[i])
    text =  text.lower()
    words = text.split()
    words = [stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', 'ratan', 'born', '28', 'decemb', '1937', 'indian', 'industrialist', 'philanthropist', 'former', 'chairman', 'tata', 'son']
['chairman', 'tata', 'group', '1990', '2012', 'interim', 'chairman', 'octob', '2016', 'februari', '2017', 'continu', 'head', 'charit', 'trust']
['3', '4', 'recipi', 'two', 'civilian', 'award', 'india', 'padma', 'vibhushan', '2008', 'second', 'highest', 'civilian', 'honour', 'padma', 'bhushan', '2000', 'third', 'highest', 'civilian', 'honour']
['5', 'born', '1937', 'heir', 'tata', 'famili', 'son', 'naval', 'tata', 'later', 'adopt', 'ratanji', 'tata', 'son', 'jamsetji', 'tata', 'founder', 'tata', 'group']
['alumnu', 'cornel', 'univers', 'colleg', 'architectur', 'harvard', 'busi', 'school', 'advanc', 'manag', 'program', 'complet', '1975']
['6', 'join', 'compani', '1961', 'use', 'work', 'shop', 'floor', 'tata', 'steel', 'appar', 'successor', 'j', 'r', 'tata', 'upon', 'latter', 'retir', '1991']
['got', 'tata', 'tea', 'acquir', 'tetley', 'tata', 'motor', 'acquir', 'jaguar', 'land', 'rover', 'tata', 'steel', 'acquir', 'coru', 'attempt', 'turn', 'tata', 'larg', 'india', 'centrist', 'group', 'global', 'busi']
['around', '60', '65', 'profit', 'donat', 'chariti', 'make', 'one', 'signific', 'philanthropist', 'world']

In [24]:
corpus

['ratan naval tata ratan born 28 decemb 1937 indian industrialist philanthropist former chairman tata son',
 'chairman tata group 1990 2012 interim chairman octob 2016 februari 2017 continu head charit trust',
 '3 4 recipi two civilian award india padma vibhushan 2008 second highest civilian honour padma bhushan 2000 third highest civilian honour',
 '5 born 1937 heir tata famili son naval tata later adopt ratanji tata son jamsetji tata founder tata group',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975',
 '6 join compani 1961 use work shop floor tata steel appar successor j r tata upon latter retir 1991',
 'got tata tea acquir tetley tata motor acquir jaguar land rover tata steel acquir coru attempt turn tata larg india centrist group global busi',
 'around 60 65 profit donat chariti make one signific philanthropist world']

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [26]:
#applied BOW
cv.fit_transform(corpus)

<8x97 sparse matrix of type '<class 'numpy.int64'>'
	with 112 stored elements in Compressed Sparse Row format>

In [28]:
cv.fit_transform(corpus).toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 5, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 2, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 4, 1, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [29]:

cv.vocabulary_

{'ratan': 72,
 'naval': 65,
 'tata': 84,
 'born': 23,
 '28': 10,
 'decemb': 36,
 '1937': 0,
 'indian': 52,
 'industrialist': 53,
 'philanthropist': 69,
 'former': 41,
 'chairman': 26,
 'son': 81,
 'group': 45,
 '1990': 3,
 '2012': 7,
 'interim': 54,
 'octob': 66,
 '2016': 8,
 'februari': 39,
 '2017': 9,
 'continu': 33,
 'head': 47,
 'charit': 27,
 'trust': 88,
 'recipi': 74,
 'two': 90,
 'civilian': 29,
 'award': 21,
 'india': 51,
 'padma': 68,
 'vibhushan': 94,
 '2008': 6,
 'second': 78,
 'highest': 49,
 'honour': 50,
 'bhushan': 22,
 '2000': 5,
 'third': 87,
 'heir': 48,
 'famili': 38,
 'later': 60,
 'adopt': 14,
 'ratanji': 73,
 'jamsetji': 56,
 'founder': 42,
 'alumnu': 16,
 'cornel': 34,
 'univers': 91,
 'colleg': 30,
 'architectur': 18,
 'harvard': 46,
 'busi': 24,
 'school': 77,
 'advanc': 15,
 'manag': 63,
 'program': 71,
 'complet': 32,
 '1975': 2,
 'join': 57,
 'compani': 31,
 '1961': 1,
 'use': 93,
 'work': 95,
 'shop': 79,
 'floor': 40,
 'steel': 82,
 'appar': 17,
 'successor': 83,
 'upon': 92,
 'latter': 61,
 'retir': 75,
 '1991': 4,
 'got': 44,
 'tea': 85,
 'acquir': 13,
 'tetley': 86,
 'motor': 64,
 'jaguar': 55,
 'land': 58,
 'rover': 76,
 'coru': 35,
 'attempt': 20,
 'turn': 89,
 'larg': 59,
 'centrist': 25,
 'global': 43,
 'around': 19,
 '60': 11,
 '65': 12,
 'profit': 70,
 'donat': 37,
 'chariti': 28,
 'make': 62,
 'one': 67,
 'signific': 80,
 'world': 96}

In [30]:
cv = CountVectorizer(binary=True, ngram_range=(1,2))
cv.fit_transform(corpus)
cv.fit_transform(corpus).toarray()

array([[1, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [32]:
cv.fit_transform(corpus).toarray().shape

(8, 213)

In [31]:
cv.vocabulary_

{'ratan': 152,
 'naval': 136,
 'tata': 179,
 'born': 47,
 '28': 19,
 'decemb': 76,
 '1937': 0,
 'indian': 110,
 'industrialist': 112,
 'philanthropist': 145,
 'former': 86,
 'chairman': 54,
 'son': 171,
 'ratan naval': 154,
 'naval tata': 137,
 'tata ratan': 186,
 'ratan born': 153,
 'born 28': 49,
 '28 decemb': 20,
 'decemb 1937': 77,
 '1937 indian': 2,
 'indian industrialist': 111,
 'industrialist philanthropist': 113,
 'philanthropist former': 146,
 'former chairman': 87,
 'chairman tata': 56,
 'tata son': 187,
 'group': 94,
 '1990': 6,
 '2012': 13,
 'interim': 114,
 'octob': 138,
 '2016': 15,
 'februari': 82,
 '2017': 17,
 'continu': 70,
 'head': 99,
 'charit': 57,
 'trust': 197,
 'tata group': 182,
 'group 1990': 95,
 '1990 2012': 7,
 '2012 interim': 14,
 'interim chairman': 115,
 'chairman octob': 55,
 'octob 2016': 139,
 '2016 februari': 16,
 'februari 2017': 83,
 '2017 continu': 18,
 'continu head': 71,
 'head charit': 100,
 'charit trust': 58,
 'recipi': 157,
 'two': 200,
 'civilian': 61,
 'award': 43,
 'india': 107,
 'padma': 142,
 'vibhushan': 208,
 '2008': 11,
 'second': 165,
 'highest': 103,
 'honour': 105,
 'bhushan': 45,
 '2000': 9,
 'third': 195,
 'recipi two': 158,
 'two civilian': 201,
 'civilian award': 62,
 'award india': 44,
 'india padma': 109,
 'padma vibhushan': 144,
 'vibhushan 2008': 209,
 '2008 second': 12,
 'second highest': 166,
 'highest civilian': 104,
 'civilian honour': 63,
 'honour padma': 106,
 'padma bhushan': 143,
 'bhushan 2000': 46,
 '2000 third': 10,
 'third highest': 196,
 'heir': 101,
 'famili': 80,
 'later': 126,
 'adopt': 29,
 'ratanji': 155,
 'jamsetji': 118,
 'founder': 88,
 'born 1937': 48,
 '1937 heir': 1,
 'heir tata': 102,
 'tata famili': 180,
 'famili son': 81,
 'son naval': 173,
 'tata later': 184,
 'later adopt': 127,
 'adopt ratanji': 30,
 'ratanji tata': 156,
 'son jamsetji': 172,
 'jamsetji tata': 119,
 'tata founder': 181,
 'founder tata': 89,
 'alumnu': 33,
 'cornel': 72,
 'univers': 202,
 'colleg': 64,
 'architectur': 37,
 'harvard': 97,
 'busi': 50,
 'school': 163,
 'advanc': 31,
 'manag': 132,
 'program': 150,
 'complet': 68,
 '1975': 5,
 'alumnu cornel': 34,
 'cornel univers': 73,
 'univers colleg': 203,
 'colleg architectur': 65,
 'architectur harvard': 38,
 'harvard busi': 98,
 'busi school': 51,
 'school advanc': 164,
 'advanc manag': 32,
 'manag program': 133,
 'program complet': 151,
 'complet 1975': 69,
 'join': 120,
 'compani': 66,
 '1961': 3,
 'use': 206,
 'work': 210,
 'shop': 167,
 'floor': 84,
 'steel': 174,
 'appar': 35,
 'successor': 177,
 'upon': 204,
 'latter': 128,
 'retir': 159,
 '1991': 8,
 'join compani': 121,
 'compani 1961': 67,
 '1961 use': 4,
 'use work': 207,
 'work shop': 211,
 'shop floor': 168,
 'floor tata': 85,
 'tata steel': 188,
 'steel appar': 176,
 'appar successor': 36,
 'successor tata': 178,
 'tata upon': 190,
 'upon latter': 205,
 'latter retir': 129,
 'retir 1991': 160,
 'got': 92,
 'tea': 191,
 'acquir': 25,
 'tetley': 193,
 'motor': 134,
 'jaguar': 116,
 'land': 122,
 'rover': 161,
 'coru': 74,
 'attempt': 41,
 'turn': 198,
 'larg': 124,
 'centrist': 52,
 'global': 90,
 'got tata': 93,
 'tata tea': 189,
 'tea acquir': 192,
 'acquir tetley': 28,
 'tetley tata': 194,
 'tata motor': 185,
 'motor acquir': 135,
 'acquir jaguar': 27,
 'jaguar land': 117,
 'land rover': 123,
 'rover tata': 162,
 'steel acquir': 175,
 'acquir coru': 26,
 'coru attempt': 75,
 'attempt turn': 42,
 'turn tata': 199,
 'tata larg': 183,
 'larg india': 125,
 'india centrist': 108,
 'centrist group': 53,
 'group global': 96,
 'global busi': 91,
 'around': 39,
 '60': 21,
 '65': 23,
 'profit': 148,
 'donat': 78,
 'chariti': 59,
 'make': 130,
 'one': 140,
 'signific': 169,
 'world': 212,
 'around 60': 40,
 '60 65': 22,
 '65 profit': 24,
 'profit donat': 149,
 'donat chariti': 79,
 'chariti make': 60,
 'make one': 131,
 'one signific': 141,
 'signific philanthropist': 170,
 'philanthropist world': 147}

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
tf_idf = TfidfVectorizer()

In [35]:
tf_idf.fit_transform(corpus).toarray()

array([[0.22028502, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.26284547, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.22028502, 0.        ,
        0.        , 0.22028502, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.26284547, 0.        , 0.        , 0.        ,
        0.        , 0.26284547, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.26284547, 0.26284547, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.22028502, 0.        , 0.        , 0.        , 0.22028502,
        0.        , 0.        , 0.52569094, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.22028502, 0.        , 0.        , 0.29505489,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.26128699, 0.        ,
        0.        , 0.        , 0.26128699, 0.26128699, 0.26128699,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.43795777, 0.26128699, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.26128699, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.26128699,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18896081, 0.        , 0.26128699, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.26128699,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.26128699, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.14665271,
        0.        , 0.        , 0.        , 0.26128699, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18047374, 0.18047374, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.18047374, 0.18047374, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.54142122,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.36094748,
        0.36094748, 0.15125108, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.36094748, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18047374,
        0.        , 0.        , 0.        , 0.18047374, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.18047374, 0.        , 0.        ,
        0.18047374, 0.        , 0.        , 0.        , 0.18047374,
        0.        , 0.        ],
       [0.18594024, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.22186506,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18594024, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.22186506, 0.        ,
        0.        , 0.        , 0.22186506, 0.        , 0.        ,
        0.16045117, 0.        , 0.        , 0.22186506, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.22186506, 0.        , 0.        , 0.        ,
        0.22186506, 0.        , 0.        , 0.        , 0.        ,
        0.18594024, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.22186506, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.37188048, 0.        , 0.        , 0.62263173,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.28058053, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28058053, 0.28058053, 0.        , 0.28058053, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.23514839,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28058053, 0.        , 0.28058053, 0.        , 0.28058053,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28058053, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.28058053, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28058053, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.28058053, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28058053, 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.25852247, 0.        , 0.        , 0.25852247,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25852247, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.25852247, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.25852247, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25852247, 0.        , 0.        ,
        0.        , 0.25852247, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.25852247, 0.        , 0.        , 0.        , 0.25852247,
        0.        , 0.        , 0.21666201, 0.25852247, 0.29020214,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25852247, 0.25852247, 0.        ,
        0.25852247, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.55075522, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18358507, 0.        , 0.        , 0.        , 0.15385862,
        0.18358507, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18358507, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18358507, 0.18358507,
        0.13276736, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.15385862, 0.        , 0.        , 0.        ,
        0.18358507, 0.        , 0.        , 0.18358507, 0.18358507,
        0.        , 0.        , 0.        , 0.        , 0.18358507,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.18358507, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.15385862, 0.        , 0.41216364,
        0.18358507, 0.18358507, 0.        , 0.        , 0.18358507,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.305675  , 0.305675  , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.305675  ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.305675  , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.305675  , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.305675  , 0.        , 0.        ,
        0.        , 0.        , 0.305675  , 0.        , 0.25617951,
        0.305675  , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.305675  , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.305675  ]])

In [36]:
tf_idf.vocabulary_

{'ratan': 72,
 'naval': 65,
 'tata': 84,
 'born': 23,
 '28': 10,
 'decemb': 36,
 '1937': 0,
 'indian': 52,
 'industrialist': 53,
 'philanthropist': 69,
 'former': 41,
 'chairman': 26,
 'son': 81,
 'group': 45,
 '1990': 3,
 '2012': 7,
 'interim': 54,
 'octob': 66,
 '2016': 8,
 'februari': 39,
 '2017': 9,
 'continu': 33,
 'head': 47,
 'charit': 27,
 'trust': 88,
 'recipi': 74,
 'two': 90,
 'civilian': 29,
 'award': 21,
 'india': 51,
 'padma': 68,
 'vibhushan': 94,
 '2008': 6,
 'second': 78,
 'highest': 49,
 'honour': 50,
 'bhushan': 22,
 '2000': 5,
 'third': 87,
 'heir': 48,
 'famili': 38,
 'later': 60,
 'adopt': 14,
 'ratanji': 73,
 'jamsetji': 56,
 'founder': 42,
 'alumnu': 16,
 'cornel': 34,
 'univers': 91,
 'colleg': 30,
 'architectur': 18,
 'harvard': 46,
 'busi': 24,
 'school': 77,
 'advanc': 15,
 'manag': 63,
 'program': 71,
 'complet': 32,
 '1975': 2,
 'join': 57,
 'compani': 31,
 '1961': 1,
 'use': 93,
 'work': 95,
 'shop': 79,
 'floor': 40,
 'steel': 82,
 'appar': 17,
 'successor': 83,
 'upon': 92,
 'latter': 61,
 'retir': 75,
 '1991': 4,
 'got': 44,
 'tea': 85,
 'acquir': 13,
 'tetley': 86,
 'motor': 64,
 'jaguar': 55,
 'land': 58,
 'rover': 76,
 'coru': 35,
 'attempt': 20,
 'turn': 89,
 'larg': 59,
 'centrist': 25,
 'global': 43,
 'around': 19,
 '60': 11,
 '65': 12,
 'profit': 70,
 'donat': 37,
 'chariti': 28,
 'make': 62,
 'one': 67,
 'signific': 80,
 'world': 96}

In [39]:
#new test data

data = ["I want to have food"]
cv.transform(data).toarray()
## getting zeors bcoz out of vocab

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [40]:
cv.vocabulary_

{'ratan': 152,
 'naval': 136,
 'tata': 179,
 'born': 47,
 '28': 19,
 'decemb': 76,
 '1937': 0,
 'indian': 110,
 'industrialist': 112,
 'philanthropist': 145,
 'former': 86,
 'chairman': 54,
 'son': 171,
 'ratan naval': 154,
 'naval tata': 137,
 'tata ratan': 186,
 'ratan born': 153,
 'born 28': 49,
 '28 decemb': 20,
 'decemb 1937': 77,
 '1937 indian': 2,
 'indian industrialist': 111,
 'industrialist philanthropist': 113,
 'philanthropist former': 146,
 'former chairman': 87,
 'chairman tata': 56,
 'tata son': 187,
 'group': 94,
 '1990': 6,
 '2012': 13,
 'interim': 114,
 'octob': 138,
 '2016': 15,
 'februari': 82,
 '2017': 17,
 'continu': 70,
 'head': 99,
 'charit': 57,
 'trust': 197,
 'tata group': 182,
 'group 1990': 95,
 '1990 2012': 7,
 '2012 interim': 14,
 'interim chairman': 115,
 'chairman octob': 55,
 'octob 2016': 139,
 '2016 februari': 16,
 'februari 2017': 83,
 '2017 continu': 18,
 'continu head': 71,
 'head charit': 100,
 'charit trust': 58,
 'recipi': 157,
 'two': 200,
 'civilian': 61,
 'award': 43,
 'india': 107,
 'padma': 142,
 'vibhushan': 208,
 '2008': 11,
 'second': 165,
 'highest': 103,
 'honour': 105,
 'bhushan': 45,
 '2000': 9,
 'third': 195,
 'recipi two': 158,
 'two civilian': 201,
 'civilian award': 62,
 'award india': 44,
 'india padma': 109,
 'padma vibhushan': 144,
 'vibhushan 2008': 209,
 '2008 second': 12,
 'second highest': 166,
 'highest civilian': 104,
 'civilian honour': 63,
 'honour padma': 106,
 'padma bhushan': 143,
 'bhushan 2000': 46,
 '2000 third': 10,
 'third highest': 196,
 'heir': 101,
 'famili': 80,
 'later': 126,
 'adopt': 29,
 'ratanji': 155,
 'jamsetji': 118,
 'founder': 88,
 'born 1937': 48,
 '1937 heir': 1,
 'heir tata': 102,
 'tata famili': 180,
 'famili son': 81,
 'son naval': 173,
 'tata later': 184,
 'later adopt': 127,
 'adopt ratanji': 30,
 'ratanji tata': 156,
 'son jamsetji': 172,
 'jamsetji tata': 119,
 'tata founder': 181,
 'founder tata': 89,
 'alumnu': 33,
 'cornel': 72,
 'univers': 202,
 'colleg': 64,
 'architectur': 37,
 'harvard': 97,
 'busi': 50,
 'school': 163,
 'advanc': 31,
 'manag': 132,
 'program': 150,
 'complet': 68,
 '1975': 5,
 'alumnu cornel': 34,
 'cornel univers': 73,
 'univers colleg': 203,
 'colleg architectur': 65,
 'architectur harvard': 38,
 'harvard busi': 98,
 'busi school': 51,
 'school advanc': 164,
 'advanc manag': 32,
 'manag program': 133,
 'program complet': 151,
 'complet 1975': 69,
 'join': 120,
 'compani': 66,
 '1961': 3,
 'use': 206,
 'work': 210,
 'shop': 167,
 'floor': 84,
 'steel': 174,
 'appar': 35,
 'successor': 177,
 'upon': 204,
 'latter': 128,
 'retir': 159,
 '1991': 8,
 'join compani': 121,
 'compani 1961': 67,
 '1961 use': 4,
 'use work': 207,
 'work shop': 211,
 'shop floor': 168,
 'floor tata': 85,
 'tata steel': 188,
 'steel appar': 176,
 'appar successor': 36,
 'successor tata': 178,
 'tata upon': 190,
 'upon latter': 205,
 'latter retir': 129,
 'retir 1991': 160,
 'got': 92,
 'tea': 191,
 'acquir': 25,
 'tetley': 193,
 'motor': 134,
 'jaguar': 116,
 'land': 122,
 'rover': 161,
 'coru': 74,
 'attempt': 41,
 'turn': 198,
 'larg': 124,
 'centrist': 52,
 'global': 90,
 'got tata': 93,
 'tata tea': 189,
 'tea acquir': 192,
 'acquir tetley': 28,
 'tetley tata': 194,
 'tata motor': 185,
 'motor acquir': 135,
 'acquir jaguar': 27,
 'jaguar land': 117,
 'land rover': 123,
 'rover tata': 162,
 'steel acquir': 175,
 'acquir coru': 26,
 'coru attempt': 75,
 'attempt turn': 42,
 'turn tata': 199,
 'tata larg': 183,
 'larg india': 125,
 'india centrist': 108,
 'centrist group': 53,
 'group global': 96,
 'global busi': 91,
 'around': 39,
 '60': 21,
 '65': 23,
 'profit': 148,
 'donat': 78,
 'chariti': 59,
 'make': 130,
 'one': 140,
 'signific': 169,
 'world': 212,
 'around 60': 40,
 '60 65': 22,
 '65 profit': 24,
 'profit donat': 149,
 'donat chariti': 79,
 'chariti make': 60,
 'make one': 131,
 'one signific': 141,
 'signific philanthropist': 170,
 'philanthropist world': 147}